:root {
    color-scheme: light dark;
    font-family: 'IBM Plex Sans', serif;
    font-size: 1rem;
    background-color: #f5f5fa;
    color: #000;
}

body {
    padding: 0 20px;
}

ul {
    padding-left: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #121212;
        color: #f8f8f8;
    }
}
